<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <div v-for="(item,index) in paymentRecord" class="card flex " @click="stretch(index)">
            <div class="flex">
                <div class="time font-600">{{item.year}}<br>{{item.date}}</div>
                <div class="line"></div>
                <div class="title font-600">
                    {{item.content}}
                    <div v-for="(detail,idx) in item.details" :class="{detailShow:item.flag}" class="detail font-400 align-start" >
                        <p class="mg-left-8">{{detail.name}}</p>
                    </div>
                </div>
            </div>
            <div class="money font-600">
                $ {{item.amount}}
                <div v-for="(detail,idx) in item.details" :class="{detailShow:item.flag}" class="detail font-400 align-end">
                    <p class="mg-right-8">{{detail.date}}</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</body>
</html>